@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.app {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 50px;
}

.navBar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 50px;
	padding: 30px 0;

	border-bottom: 1px solid #f2f2f2;
}

.navBar h1 {
	font-weight: 700;
	font-size: 32px;
	color: rgb(5, 106, 220);
}

.links {
	font-size: 24px;
	display: flex;
	column-gap: 30px;
}

.links a {
	color: rgb(26, 148, 255);
	text-decoration: none;
}

.blog {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.post-preview {
	border-radius: 8px;
	padding: 20px;
	transition: box-shadow 0.2s ease-in;
}

.post-preview {
	box-shadow: #cfdeea 0px 5px 35px;
}

.post-preview h2 {
	font-weight: 600;
	margin-bottom: 15px;
}

.post-preview p {
}

.post-preview .btn-delete {
	margin-top: 20px;
}

.btn-delete {
	padding: 5px 10px;
	cursor: pointer;
}
